.food-type-list-item-content {
    width: 100%;


    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    align-items: center;

    cursor: pointer;
}

.food-type-list-item-content img {
    display: inline-block;
    width: calc(0.9*var(--item-width));
    height: calc(0.9*var(--item-width));
    border-radius: 50%;
    /*min-height: 0;*/

}

.food-type-list-item-content p {
   width: 100%; 
}