#header {
    background-color: var(--background-primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

#header a {
    text-decoration: none;
    color: var(--text-primary);
    font-size: var(--text-sm); 
    padding: 1rem;
    font-weight: 500;
}

#sign-in {
    background-color: var(--background-button);
}

@media(min-width: 768px) {
    /* md breakpoint */
    #header {
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-between;
    }

    #header a {
        font-size: 1rem;
    }
}