:root {
    --text-primary: #000000;
    --background-primary: #FFFFFF;
    --background-button: rgb(240, 240, 240);

    /*breakpoints*/
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;

    /*font sizes*/
    --text-sm: 0.875rem;

    /*font weight*/
    --text-bold: 700;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    background-color: blue;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}